





.main-container.fade {
  animation: fadeInUp 0.6s ease;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}











/* text-decoration: line-through; */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  /* font-family: "Poppins", sans-serif; */
 font-family: "PT Sans", sans-serif;
}


:root {
  --bg-color: #080808;
  --second-bg-color: #131313;
  --text-color: #ffff;
  --main-color: #7d48cc;
 --dropdown-height: 0;
  --rotate-arrow: 0;
  --translate-value: 0;
  --list-opacity: 0;
  --transition-time: 0.4s;
  --transition-timing: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --border-radius: 4rem;
  --list-button-height: 4.6rem;
  --floating-icon-size: 26;
  --floating-icon-top: 0;
  --floating-icon-left: 0;
}


html {
  font-size: 60%;
  overflow: hidden;
  width: 100%;
  overflow-y: auto;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100%;
  overflow-x: hidden !important;/* Bloquea scroll lateral */
  
}
h2{
  font-weight: 800;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 4rem 12% 4rem;
  /* background: rgba(red, green, blue, alpha); */
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.logo span {
  text-shadow: 0 0 25px var(--main-color);
}

a{
text-decoration: none;
}
.navbar a {
  font-size: 1.85rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 12% 10rem;
  
}

/* sobre mi  */

.sobremi {
  padding: 50px;

}

.container-sobremi {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 900px;
  margin: auto;
}

.perfil-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.texto-sobremi h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.texto-sobremi p {
  font-size: 1.1rem;
  line-height: 1.6;
}


/* HOME */

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: center;
  margin-top: 3rem;
}

span {
  color: var(--main-color);
}

.logo span {
  color: var(--main-color);
}

.home-content h3 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 3.5rem;
}

.home-content h1 {
  font-size: 7rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}

.home-img {
  border-radius: 50%;
}

.home-img img {
  position: relative;
  top: 3rem;
  width: 26vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.home-img img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px var(-main-color) 0 0 50px var(--main-color) 0 0 100px
    var(--main-color);
}

.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
  max-width: 1000px;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border: 2px solid var(--main-color);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease-in-out;
}

.social-icons a:hover {
  color: var(--text-color);
  transform: scale(1.3) translateY(-5px);
  box-shadow: 0 0 25px var(-main-color);
  background-color: var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 4rem !important;
  font-size: 1.6rem;
  color: black;
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover ,.btn-s:hover{
  transform: scale(1.05);
  box-shadow: 0 0 50px var(--main-color);
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.btn-group a:nth-of-type(2) {
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
  color: black;
}

/* 14:43 */

.text-animation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.text-animation span {
  position: relative;
}

.text-animation span::before {
  content: "Web Developer";
  color: var(-main-color);
  animation: words 20s infinite;
}

.text-animation span::after {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc (100% + 8px);
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid var(--main-color);
  }
}

@keyframes words {
  0%,
  20% {
    content: "UI/UX Designer";
  }

  21%,
  40% {
    content: "Web Developer";
  }

  41%,
  60% {
    content: "Frontend Designer";
  }

  61%,
  80% {
    content: "Database Designer";
  }

  81%,
  100% {
    content: "Tech Documentalist";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }

  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

/*  EDUCATION  */
.heading {
  font-size: 8rem;
  text-align: center;
  margin: 5rem 0;
}

.education {
  padding: 100px 15px;
  background: var(--second-bg-color);
}

.education h2 {
  margin-bottom: 5rem;
}

.timeline-items {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--main-color);
  left: calc(50% - 1px) ;
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-dot {
  height: 21px;
  width: 21px;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}

.timeline-date {
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin: 6px 0 15px;
}

.timeline-content {
  background-color: var(--bg-color);
  border: 3px solid var(--main-color);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--main-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.timeline-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}

.timeline-content h3 {
  font-size: 20px;
  color: white;
  margin: 0 0 10px;
  font-weight: 500;
}

.timeline-content p {
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
  width: 50px;
}


  
/* services section */


 .main-text {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--hover-color);
}

.main-text h2 {
    font-size: 8rem;
    text-align: center;
  margin-bottom: 6rem;
}

.main-text span {
  color: #fdfdfd;
  font-size: 8rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
}

.service-box {
  flex: 1 1 calc(50% - 2rem); /* Esto asegura 2 columnas */
  max-width: calc(50% - 2rem);
  padding: 2rem 3rem;
  text-align: center;
  background: var(--secon-bg-color);
  transition: transform 0.45s;
  border-radius: 2rem;
  border: 3px solid var(--main-color);
    /* Añadir para centrar el contenido */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

@media (max-width: 767px) {
  .service-box {
    flex: 1 1 100%;
    max-width: 100%;
    height: 500px;
  }
}


.service-box:hover {
    transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}



.service-icon {
  border: 2px solid var(--bg-color);
  padding: 2rem;
  background: #333434;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  border-radius: 50%;
  color: var(--hover-color);
  box-shadow: var(--neon-box-shadow);
  outline: 3px solid var(--main-color);
}


.service-box h3 {

margin-top: 30PX;
font-size: 20px;
font-weight: 800;
color: var(--text-color);
   
}

.service-box p {
  margin: 2.5rem 0 2.5rem 0;
  font-weight: 300;
  letter-spacing: 1px;
  color: #bdbdbd;
  line-height: 1.6;
  font-size: 16px;
}



@media ( max-width:991px){
 
.service-box {
    /* max-width: 80%; */
}
.timeline-items , .section-services , form {
/* max-width: 86%; */
margin: 5rem 2rem;
}
}



.btn-service{
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.btn-s {
    display: inline-block;
    padding: 0.5rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    width: 100%;
}


/* PROJECTS */

/************ Projects Css ************/
.project {
  padding: 80px 0;
  position: relative;
  background-color: black;
}
.project h2 {
	font-size: 8rem;
	font-weight: 700;
  text-align: center;
}
.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  /* width: 56%; */
}
.project .nav.nav-pills {
  /* width: 72%; */
  margin: 0 auto;
  border-radius: 2rem;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}




.project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, var(--main-color) -5.91%, #baa1d5 111.58%);
  /* background: var(--main-color); */
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
 border: 2px solid var(--main-color);
}
.nav-link#projects-tabs-tab-first {
   border: 2px solid var(--main-color);
  border-radius: 2rem 0px 0px 2rem;
}
.nav-link#projects-tabs-tab-second {
 border: 2px solid var(--main-color);
}
.nav-link#projects-tabs-tab-third {
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  border: 2px solid var(--main-color);
  border-radius: 0 2rem 2rem 0;
}

.proj-imgbx img {
  width: 100%;
  height: 390px;
  object-fit: cover;
  display: block;
  object-position: center; 
}


.proj-imgbx {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 24px;
}
.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #7440c4 -5.91%, #7d48cc 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
  color: black;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}



@media ( max-width:991px){

.row {
/* margin: 1rem 0rem; */
    padding: 1.5rem;
}
}




/* TESTIMONIALS */

.testimonials {
  background: var(--second-bg-color);
}

.testimonials-box {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.testimonials .heading {
  margin-bottom: 5rem;
}

.testimonials-box img {
  width: 15rem;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  /* cambio */
  /* box-shadow: 0 0 25px var(--main-color) ; */
  box-shadow: 0 0 55px #7d48cc;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.testimonial-item {
  min-height: 550px;
  max-width: 450px;
  background: rgba(0, 0, 0, 0.7);
  border: 3px solid rgba(238, 238, 238, 0.2);
  border-radius: 2rem;
  margin: 0 2rem;
  padding: 30px 60px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  color: white;
  transition: 0.4s ease-in-out;
}

.testimonial-item:hover {
  border: 3px solid var(--main-color);
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 0 50px var(--main-color);
}

.testimonial-item h2 {
  font-size: 2.8rem;
}

.testimonial-item p {
  font-size: 1.3rem;
}

#star {
  color: gold;
  font-size: 2rem;
}

/* contact */

.contacto {
  background-color: var(--bg-color);
}

form{
  max-width: 1200px;
  margin: auto;
}

.contacto form {

  align-items: center;
  justify-content: center;
  gap: 3rem;
  text-align: center;

}

.contacto form .input-group {
  width: 100%;
}

.contacto form .input-row {
  display: flex;
  gap: 2rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.contacto form .input-row input,
.contacto form .input-row select {
  flex: 1 1 45%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background: var(--second-big-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  resize: none;
  /* background-color: var(--bg-color); */
}


select:focus {
  background-color:var(--bg-color) !important;
}


.contacto form .input-group-2 textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background: var(--second-big-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}

.contacto form .btn {
  margin-top: 2rem;
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s ease;
  width: 100%;
}

.contacto form .btn:hover {
  background-color: var(--main-color-hover);
}

/* FOOTER */

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: var(--second-bg-color);
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: var(--main-color);
}

.footer .social a {
  font-size: 25px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease-in-out;
}

.footer .social a:hover {
  transform: scale(1.2) translateY(-10px);
  background-color: var(--main-color);
  color: black;
  box-shadow: 0 0 25px var(--main-color);
}

.footer ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
  border-bottom: 3px solid var(--main-color);
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer .copyright {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  color: white;
}

/* /* Tablets grandes - hasta 1285px */ 

@media (max-width: 1285px) {
  html {
    font-size: 55%;
  }

  .services-container {
    padding-bottom: 7rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 5rem;
  }
}

/* Tablets medianos - hasta 991px */
@media (max-width: 991px) {
  header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .timeline-items::before {
    left: 7px;
  }

  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }

  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }

  .timeline-dot {
    left: 0;
  }

  .services {
    padding-bottom: 7rem;
  }

  .testimonials .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .contacto form {
    flex-direction: column;
  }

  .footer {
    padding: 2rem 3%;
  }
}

/* Móviles - hasta 895px */
@media (max-width: 895px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: white;
  }

  .home {
    flex-direction: column-reverse;
    margin: 5rem 4rem;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 8rem;
    margin-top: 3rem;
  }
  .home-content p {
    max-width: 600px;
    margin: 0 auto;
  }
  .home-img img {
    width: 56vw;
  }
  .services h2 {
    margin-bottom: 3rem;
  }
  /* .services-container {
    grid-template-columns: repeat (1,1fr);
  } */

  .services-container {
    grid-template-columns: repeat(1, 1fr);
  }


  .heading{
    font-size: 50px;
  }
  .service-box {
      height: 450px;
  }
}





/* PROBANDO DROPDO */

 .dropdown-container{
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
    flex: 1 1 45%;
    /* padding: 2.5rem; */
    padding: 2.5rem 0;

    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--second-big-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);   /* border: 0.1rem solid var(--main-color); */
    resize: none;
} 

input:hover,.dropdown-container:HOVER,textarea:hover{
      /* border: 0.1rem solid var(--main-color);  */
 /* transform: scale(1.05); */
  box-shadow: 0 0 25px var(--main-color);

}
  

.dropdown-list-container{
    flex: 1 1 45%;
    padding: 1rem;
    color: var(--text-color);
    resize: none;
    width: 100%;
}


input::placeholder,textarea::placeholder {
  color: var(--text-color);
  opacity: 1;
}


svg {
  height: 1.6rem;
  width: 1.6rem;
  color: var(--text-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 170px;
}

.list-button {
  background-color: transparent;
  color: var(--text-color); 
  border: none;
  width: 100%;
  padding: 1rem 1.2rem;
  text-align: left;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
  font-size: 1.8rem;;
}



.main-button , .text-truncate{
  background: transparent;
  color: var(--text-color);
  border: none;
}


.list-button:hover {
  background-color: var(--main-color); 
  color: white;
  cursor: pointer;
  padding: 2rem;
}

.main-button svg {
  fill: white;
  height: 1.6rem;
  width: 1.6rem;
  transition: all var(--transition-time) var(--transition-timing);
}




.dropdown-title.text-truncate{
  color: var(--text-color);
}

.dropdown-button {
  display: flex;            
  justify-content: space-between; 
  align-items: center;       
  width: 100%;          
  background: transparent;    
  color: white;           
  border: none;             
  padding: 1rem 2rem;        
  font-size: 1.8rem;
}

.dropdown-list-wrapper ul li {
  margin-bottom: 2rem; /* espacio debajo de cada item */
  margin-top: 2rem;
}


.dropdown-list-container {
  overflow: hidden;
  /* max-height: var(--dropdown-height); */
  transition: max-height var(--transition-time) var(--transition-timing);
}

